@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Lato:ital,wght@1,300&family=Sofia+Sans:wght@300&display=swap');

$sofia-font: 'Sofia Sans', sans-serif;

$bg: rgb(255, 255, 255);
$bg2: rgb(0, 0, 0);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: rgb(255, 250, 149);

$header-font-color: #333;
$content-font-color: #666;

$sidebar-width: 220px;
$evolution-circle-radius: 50px;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 72px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;